<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Endemic</title>
</head>
<body>
<div class="row" id="nav-bar">
  <ul class="nav" id="nav-links">
    <li class="nav-item">
        <a href="#" class="nav-link">ENDEMIC</a>
    </li>
    {{!-- <li class="nav-item">
        <a class="nav-link active" href="#">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li> --}}
  </ul>
</div>

  {{{body}}}

  <script src="/js/main.js"></script>
</body>
</html>

