<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Endemic Character Creation</title>
    <link rel="stylesheet" href="../public/styles/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <!-- NAV BAR -->

<div class="row" id="nav-bar">
  <ul class="nav" id="nav-links">
    <li class="nav-item">
        <a href="#" class="nav-link">ENDEMIC</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
</div>

    <!-- PAGE TITLE -->

<div class="container">

    <div class="row">
        <div class="col-md-12" align="center">
            <h1>Select Your Character</h1>
        </div>
    </div>

    <!-- GENDER SELECT -->

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4" id="avatar">
            <img src="../public/images/CharacterSelect_Male.svg" class="card-img-top" alt="male character" height="300px" width="300px" href="">
            <h3>MALE</h3>
        </div>
        
        <div class="col-md-4" id="avatar">
            <img src="../public/images/CharacterSelect_Fem.svg" class="card-img-top" alt="female character" height="300px" width="300px">
            <h3>FEMALE</h3>
        </div>
        <div class="col-md-2"></div>
    </div>
    
    <br>

    <div class="row">
        <div class="col-md-1.5"></div>
        <div class="col-md-3">
            <card height="300px" width="300px"></card>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-1.5"></div>
    </div>
    
</div>

    <!-- FOOTER -->

<footer>
    Copyright 2019 &copy;
</footer>

</body>
</html>
