<link rel="stylesheet" href="/styles/game-page.css" media="screen" title="no title" charset="utf-8">
<audio id="gameMusic" src="../music/endemic_game.mp3" loop="loop"></audio>

<!-- THREE PANELS -->
<div class="gamepad">
    <div class="row">

    <!-- LEFT PANEL -->
    <div class="col-md-4">
        <!-- LEFT PANEL PLAYER AVATAR -->
        <div id="playerAvatar" class="female-char character">
            <lottie-player 
                src="https://assets1.lottiefiles.com/packages/lf20_FQaALa.json" id="doc_fem" background="transparent"  speed="1"  style="width: 50%; height: 50%; margin: auto;"  loop autoplay >
            </lottie-player>
        </div>
        <hr>
        <!-- LEFT PANEL PATIENT INFO & TREATMENTS -->
        <div id="patientSymptoms">
            <h2>PATIENT SYMPTOMS</h2>
            <button id="symptom-1" type="button" class="btn btn-info btn-block symptom" disabled></button>
            <button id="symptom-2" type="button" class="btn btn-info btn-block symptom" disabled></button>
            <button id="symptom-3" type="button" class="btn btn-info btn-block symptom" disabled></button>
        </div>
        <hr>
        <div id="treatmentOptions">
            <h2>TREATMENT OPTIONS</h2>
            <button id="treatment-1" type="button" class="btn btn-info btn-block treatment"></button>
            <button id="treatment-2" type="button" class="btn btn-info btn-block treatment"></button>
            <button id="treatment-3" type="button" class="btn btn-info btn-block treatment"></button>
        </div>
        <hr>

    </div>

    <!-- CENTER PANEL = PATIENT -->
    <div class="col-md-4" id="patient-panel" style="border-right: solid 3px #D1603D; border-left: solid 3px #D1603D;">
        <h2>PATIENT</h2>
        <h6>Diagnosis: <span id="diseaseName"></span></h6>
      <div id="patient">
        <lottie-player
        src="https://assets3.lottiefiles.com/packages/lf20_4rH0mn.json"  id="patientAvatar" background="transparent"  speed="1"  style="width: 60%; height: 60%; margin: auto;"  loop autoplay >
        </lottie-player>
      </div>
        {{!-- <div>
            <h2>Life Force</h2>
            <h1 id="patientHealth">100</h1>
        </div> --}}
    </div>
  
    <!-- RIGHT PANEL = PLAYER'S LOG -->
    <div class="col-md-4">
        <div>
            <h2>LIFE FORCE</h2>
            <h1 id="patientHealth">100</h1>
        </div>
        <hr>
        <div id="log">
            <h2>LOG BOOK</h2>
            <div id="effectLog">
            {{!-- <button type="button" class="btn btn-info btn-block"></button> --}}
            </div>
        </div>
    </div>

</div>
</div>
{{!-- SUCCESS MODAL --}}
<div class="modal fade show" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">SUCCESS!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <lottie-player 
            src="https://assets3.lottiefiles.com/packages/lf20_uMS02q.json" id="doc_fem" background="transparent"  speed="1"  style="width: 50%; height: 50%; margin: auto;"  loop autoplay >
        </lottie-player>
        Congratulations! The patient is expected to make a full recovery. Meanwhile, your next patient is ready...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">New Game</button> --}}
      </div>
    </div>
  </div>
</div>
{{!-- FAILURE MODAL --}}
<div class="modal fade show" id="failureModal" tabindex="-1" role="dialog" aria-labelledby="failureModal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">FAILURE!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <lottie-player 
            src="https://assets3.lottiefiles.com/packages/lf20_0oPGzC.json" id="doc_fem" background="transparent"  speed="1"  style="width: 50%; height: 50%; margin: auto;"  loop autoplay >
        </lottie-player>
        Despite your best efforts, we've lost the patient. Don't blame yourself. Your other patients are waiting...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">New Game</button> --}}
      </div>
    </div>
  </div>
</div>
<!-- link to game-page.js -->
<script src="/js/gameFunctions.js"></script>
</body>
</html>
