<link rel="stylesheet" href="/styles/landing-account-styles.css" media="screen" title="no title" charset="utf-8">

<div class="container center-align">
    <div class="content-box">
        <div class="row">
            <div class="col-md-12">
                <h3 id="landing-subtitle">Do you have what it takes to cure a patient with a contagious disease?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Several contagious and aggressive diseases have broken out all over the world! As a disease-fighting specialist, your mission is to administer treatments to patients before the disease gets out of hand. If you cure the patient, you win!</p>
            </div>
        </div>
    </div>
</div>

<script src="/js/landing.js"></script>
