<div class="container center-align">
        <div class="content-box">
            <div class="row">
                <div class="col-md-12">
                <h3 id="landing-subtitle">Do you have what it takes to cure a patient with a contagious disease?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Several contagious and aggressive diseases have broken out simultaneously all over the world! As a player, you are a disease-fighting specialists whose mission is to treat patients with virulent diseases by administering treatments before the disease gets out of hand.</p>
                </div>
                <div class="col-md-6">
                    <p>Plan your treatment strategy to mesh with your specialists' strengths in order to conquer the disease. If the disease spreads beyond recovery, the player will lose. If you cure the disease, you win!</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/landing.js"></script>