<link rel="stylesheet" href="/styles/landing-account-styles.css" media="screen" title="no title" charset="utf-8">

<div class="center-align container">
  <div class="content-box">
    <header>
      <h1>New Account</h1>
    </header>

    <form id="create-form">
      <div class="row" id="new-account-form1">
        <div class="input-field col-md-5">
          <label for="userName">User Name*</label>
          <input type="text" id="userName">
        </div>
        <div class="input-field col-md-5">
          <label for="inputPassword">Password*</label>
          <input type="password" id="inputPassword">
        </div>
      </div>

      <div class="row"" id="new-account-form2">
        <div class="input-field col-md-5 gender>
          <label for="gender">Gender*</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="gender-male" value="Male">
            <label class="form-check-label" for="inlineRadio1">Male &nbsp;</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="gender-female" value="Female">
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>
        <div class="input-field col-md-5">
          <label for="age">Age (optional)</label>
          <input type="number" id="age">
        </div>
      </div>

      <div>
        <h2 id="message"></h2>
      </div>
      <div class="row">
        <button type="submit" id="add-account" class="col-sm-12 btn btn-secondary">Create Account</button>
      </div>
    </form>
  </div>
</div>
{{!-- make sure our links to js files are correct in the handlebars files --}}
<script src="./js/account.js"></script>