<link rel="stylesheet" href="public/styles/landing-account-styles.css" media="screen" title="no title" charset="utf-8">

<div class="center-align container">
  <div class="content-box">
    <header>
      <h1 class="page-title">New Account</h1>
    </header>

    <form id="create-form">
      <div class="row">
        <div class="input-field col-md-6">
          <label for="userName">User Name*</label>
          <input type="text" id="userName">
        </div>

        <div class="input-field col-md-6">
          <label for="inputPassword">Password*</label>
          <input type="password" id="inputPassword">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="input-field col-md-4">
          <label for="gender">Gender (optional) &nbsp;</label>
          <div class="form-check form-check-inline" id="gender">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Male &nbsp;</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>
        <div class="input-field col-md-3">
          <label for="age">Age (optional)</label>
          <input type="number" id="age">
        </div>
        <div class="input-field col-md-5">
          <label for="medicinalPreference">Medicinal Preference*</label>
          <div class="form-check form-check-inline" id="gender">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Doctor &nbsp;</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Shaman &nbsp;</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"
              disabled>
            <label class="form-check-label" for="inlineRadio3">Biochemist</label>
          </div>

        </div>
      </div>

      <div>
        <h2 id="message"></h2>
      </div>
      <div class="row">
        <button type="submit" id="add-account" class="col s12 btn btn-primary">Create Account</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/accounts.js"></script>