<br /><br />
<div class="container center-align rounded-content-box">
  <h1 class="page-title">Welcome Back</h1>
  <h3>Welcome back, {{userInfo.firstName}}</h3>
  <br />
  <div class="row">
    <a href="/leaderboard">
      <button class="btn btn-large col s12 m3">Leaderboard<br />
        {{!-- <img width="60%" src="/img/leaderboard.svg"> --}}
      </button>
    </a>
    <a href="/play-endemic">
      <button class="btn btn-large col s12 m3">Play ENDEMIC<br />
        {{!-- <img width="60%" src="/img/play-endemic.svg"> --}}
      </button>
    </a>
  </div>
</div>