body {
    background-color: #364958;
}

#nav-bar.row {
    background-color: #D1603D;
    padding: 10px;
    margin: 0 auto;
}

.nav-links {
    color: white;
}

#submit {
    align-content: center;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Share Tech Mono', monospace;
    padding-top: 18px;
}

h2 {
    text-align: center;
    color:white;
    font-family: 'Share Tech Mono', monospace;
}

p {
    color: black;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    text-align:center;
}

#stats {
    color: white;
    font-family: 'Lato', sans-serif;
}

#sym {
    color: white;
    background-color: #364958;
    font-family: 'Lato', sans-serif;
}

#log {
    overflow: auto;
    height: 90vh;
}

hr {
    background-color: #D1603D;
    height: 3px;
}
.gamepad {
    position: absolute;
    width: 98%;
    left: .5%;
}
#patientSymptoms {
    margin: auto;
    width: 90%;
}
#treatmentOptions {
    margin: auto;
    width: 90%;
}
.btn-info {
    background-color: #A4C3B2;
    border-color: #A4C3B2;
    color: black;
}
.btn-info:hover {
    background-color: #6B9080;
    border-color: #6B9080;
    color: white;
}