body {
    box-sizing: inherit;
    line-height: 1.5em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("/images/background-art-mono.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.5em;
    color: black;
    text-shadow: 1px 1px #689080;
}

h3 {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    font-size: 42px;
    line-height: 1.5em;
    color: black;
    text-shadow: 1px 1px #689080;
    padding-bottom: 2%;
}

h5 {
    text-align: center;
    color: white;
}

p {
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 2em;
    letter-spacing: .03em;
    word-spacing: .06em;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

a {
    color: white;
    font-weight: bolder;
    /* text-align: center; */
}

a:hover {
    color: #689080;
}

a:visited {
    color: white;
}

a:disabled {
    color: white;
}

.btn-secondary {
    background-color: #689080;
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #587291;
    color: #EFFFFA;
    vertical-align: center;
}

.card {
    background-color: #364958;
    border: 0px solid #364958;

}

.card-title {
    color: white;
    font-weight: 900;
    position: relative;
    text-align: center;
}

.navbar {
    background-color: #D1603D;
    padding: 10px 40px 10px 40px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.nav-link {
    font-size: 16px;
    font-weight: normal;
}

.game-logo {
    position: absolute;
    color: white;
    display: inline-block;
    font-size: 2rem;
    position: absolute;
}



#box-text {
    font-family: 'Signika';
    font-weight: 700;
    font-size: 20px;
    line-height: 2em;
    letter-spacing: .03em;
    color: white;
    word-spacing: .06em;
}

/* #landing-subtitle {
    font-size: 800%;
    text-shadow: 6px 6px 5px #D1603D;
    padding-top: 20%;
    padding-bottom: 1%;
} */


.content-box {
    background-color: rgba(233, 159, 95, 0.2);
    filter: alpha(opacity=10);
    opacity: .8;
    box-shadow: 0 3px 3px 3px rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 3% 5% 2% 5%;
    margin-top: 40%;
    width: 90%;
}

#add-account {
    align-content: center;
}

#footer {
    font-size: 12px;
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 0.05em;
    text-align: center;
    padding-top: 5px;
    color: #eee;
    height: 30px;
  }