body {
  background-color: #364958;
}

h2 {
  text-align: center;
  color:white;
  font-family: 'Share Tech Mono', monospace;
}

hr {
  background-color: #D1603D;
  height: 3px;
}

.gender-name {
  position: relative;
  bottom: 90px;
  left: 50px;
  color: #364958;
  font-weight: 900;
  background: transparent;
}

.list-group-item {
  line-height: 2.5;
}

#submit {
  align-content: center;
}

/* NAVIGATION STYLES */
a {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  font-weight: normal;
}

a:hover {
  color: #689080;
}

a:visited {
  color: white;
}

a:disabled {
  color: white;
}

.navbar {
  background-color: #D1603D;
  padding: 10px 40px 10px 40px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.active {
  color: white; 
}

.btn-link {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}


/* SIGN IN MODAL */
.modal-header {
  background-color: #D1603D;
  color:white;
  font-family: 'Share Tech Mono', monospace;
}

.modal-body {
  background-color: #364958;
  color:white;
  font-size: 20px;
  font-family: 'Share Tech Mono', monospace;
  padding-left: 5%;
}

.modal-footer {
  background-color: #364958;
}

.close {
  color: white;
  font-size: 200%;
}

/*  FOOTER STYLES */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #D1603D;
  text-align: center;
  height: 30px;
  padding-bottom: 2%;
}

#footer {
  font-size: 12px;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.05em;
  text-align: center;
  color: #eee;
}