.list-group-item {
  line-height: 2.5;
}

/* Style sheet for character creation page */
body {
  background-color: #364958;
}

#nav-bar.row {
  align-content: center;
  background-color: #D1603D;
  padding: 10px;
  margin: 0 auto;
}

.nav-links,
.btn-link {
  color: white;
}

#submit {
  align-content: center;
}

h2 {
  text-align: center;
  color:white;
  font-family: 'Share Tech Mono', monospace;

}

#femaleIcon, #maleIcon {
  opacity: 0.5;
}

.gender-name {
  position: relative;
  bottom: 90px;
  left: 50px;
  color: #364958;
  font-weight: 900;
  background: transparent;
}

hr {
  background-color: #D1603D;
  height: 3px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #D1603D;
  text-align: center;
  /* padding-top: 1%; */
  height: 30px;
  padding-bottom: 2%;
}

.modal-body {
  background-color: #364958;
  color:white;
  font-size: 20px;
  font-family: 'Share Tech Mono', monospace;
  padding-left: 5%;
}
.modal-header {
  background-color: #D1603D;
  color:white;
  font-family: 'Share Tech Mono', monospace;
}
.modal-footer {
  background-color: #364958;
}

#footer {
  font-size: 12px;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.05em;
  text-align: center;
  color: #eee;
}

.close {
  color: white;
  font-size: 200%;
}

#new-account-form1 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  line-height: 2em;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

#new-account-form2 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  line-height: 2em;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}